/*Sets the full page size and prevents scroll bouncing*/
html,
body {
    overscroll-behavior: none;
    width: 100%;
    height: 100%;
}

/*Styles the main page background, font, and removes margins*/
body {
    font-family: 'Arial', sans-serif;
    background-color: #a3b18a;
    margin: 0;
    text-align: center;
}

/* Makes the header stick to the top of the page even when scrolling down */
/* Inspired from a youtube tutorial */
/* Source - https://www.youtube.com/watch?v=puwPc9W5Qw8 */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #a3b18a;
}

/* This sets the size and spacing of the "TreeHousePro logo"*/
.tree_house_pro_logo {
    width: 440px;
    height: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
}

a {
    text-decoration: none;
}

/*Stles the colour of the navigation bar, and centres its items and links*/
nav {
    background-color: #0b670a79;
    display: flex;
    justify-content: center;
}

/*Styles the text, size, font, spacing, and layout of the navigation bar links*/
nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', serif;
    font-size: 23px;
    font-style: italic;
    text-decoration: none;
    width: 100px;
    padding: 25px 35px;
    color: #055e12;
    font-weight: bold;
    white-space: nowrap;
}

/*Changes the link's background colour when hovered over*/
nav a:hover {
    color: #055e12;
    background-color: #a3b18a63;
}

/*Styles the large home page heading (font size, shadow, bold or not, and alignment)*/
#home_page_heading {
    color: #056213;
    font-size: 70px;
    display: block;
    text-align: center;
    padding-top: 270px;
    margin-top: 0px;
    font-weight: bold;
    text-shadow: 7px 6px 5px rgb(1, 16, 1);
}

/*Styles all the h1 headings throughout the website*/
h1 {
    font-size: 40px;
    color: #056213;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 3px 3px rgb(1, 16, 1);
}

/*Styles all h2 headings throughout the website*/
h2 {
    font-size: 35px;
    color: #056213;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1.5px 1.5px 1.5px rgb(1, 16, 1);
}

/*Styles all h3 headings throughout the website*/
h3 {
    font-size: 27px;
    color: #056213;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 0.5px rgb(1, 16, 1);
}

/*Sets the "Home" page background to the treehouse hero image*/
#hero_image {
    background-image: url("../images/hero_image.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
}

/*Styles the "Fantasy Treehouse" image on the "About" page*/
#fantasy {
    justify-content: center;
    width: 75%;
    height: 550px;
    max-width: 75%;
    max-height: 550px;
    border-radius: 10px;
}

/*Styles the "Consultation" image on the "How it works" page*/
#worker_sam {
    justify-content: center;
    width: 75%;
    max-width: 75%;
    height: 550px;
    max-height: 550px;
    border-radius: 10px;
}

/*Styles the "Modern Treehouse" image on the "Catalog" page*/
#modern {
    justify-content: center;
    width: 75%;
    max-width: 75%;
    height: 550px;
    max-height: 550px;
    border-radius: 10px;
}

/*Styles the little images of the different treehouses below their decription on the "Catalog" page*/
.catalog-img {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    margin: 10px;
    justify-content: center;
}

/*Styles the "Cute Treehouse" image on the "Contact us" page*/
#cute-treehouse {
    align-items: center;
    width: 250px;
    height: 250px;
    margin: auto auto;
}

/*Styles all the customers review boxes*/
.customers-reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    border: 7px solid #0b670a79;
    border-radius: 17px;
    padding: 3px;
    width: 1300px;
    max-width: 1300px;
    height: 175px;
    max-height: 175px;
    margin: 20px auto;
}

/*Styles the customers icons (size, direction, and spacing)*/
.icons {
    width: 115px;
    height: 122px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 15%;
}

/*Sets the size of the five stars image on the reviews page*/
.stars {
    width: 200px;
    height: 200px;
}

/*Adds padding around the slider section*/
/*Source: https://www.youtube.com/watch?v=McPdzhLRzCg*/
.container {
    padding: 2rem;
}

/*Positions and centres the image slider on the "Gallery" page*/
/*Source: https://www.youtube.com/watch?v=McPdzhLRzCg*/
.slider-wrapper {
    position: relative;
    width: 90%;
    max-width: 70rem;
    margin: 0 auto;
}

/*Styles the layout and behaviour of the image slider*/
/*Source: https://www.youtube.com/watch?v=McPdzhLRzCg*/
.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

/*Styles all the images inside the slider*/
/*Source: https://www.youtube.com/watch?v=McPdzhLRzCg*/
.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

/*Positions the navigation dots of the image slider*/
/*Source: https://www.youtube.com/watch?v=McPdzhLRzCg*/
.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

/*Styles the navigation dots of the image slider*/
/*Source: https://www.youtube.com/watch?v=McPdzhLRzCg*/
.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

/*Make the navigation dots of the slider brighter when hovered over*/
/*Source: https://www.youtube.com/watch?v=McPdzhLRzCg*/
.slider-nav a:hover {
    opacity: 1;
}

/*Styles all the paragraph boxes in the website (alignment, spacing, colour, size, and borders)*/
.paragraphs {
    text-align: center;
    margin: 35px auto;
    color: #056213;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    border: 7px solid #0b670a79;
    border-radius: 17px;
    padding: 15px;
    width: 60%;
    max-width: 900px;
}

/*Styles the text boxes of the "Catalog" page (alignment, spacing, colour, size, borders, and thickness)*/
.catalog-paragraphs {
    text-align: center;
    margin: 35px auto;
    color: #056213;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
    border: 7px solid #0b670a79;
    border-radius: 17px;
    padding: 15px;
    width: 60%;
    max-width: 540px;
}

/*Styles the text on the "Revies" page (alignment, colour, size, and maximum width)*/
.reviews-text {
    text-align: center;
    color: #056213;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
    width: 60%;
    max-width: 830px;
}

/*Styles the contact details text on the "contact" page (alignment, colour, size...)*/
.contact-details {
    text-align: center;
    color: #056213;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
}

/* Styles the colour and decoration of the contact detail links */
.contact-details a {
    text-decoration: none;
    color: #35860d;
}

/*Styles the footer section on all of the pages (text colour, background colour, and spacing)*/
footer {
    color: #055e12;
    background-color: #0b670a79;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 60px;
    margin-bottom: 0px;
}

/*Styles the spacing of the home page footer*/
.home-footer {
    margin-top: 0px;
    margin-bottom: 0px;
}

/*Adds a decorative double-line under the content of the footer*/
.rule_below {
    border-bottom: #055e12 6px double;
    padding-top: 0px;
    padding-bottom: 10px;
}